$default-font: "roboto-regular", sans-serif;
$roboto-bold: "roboto-bold", sans-serif;
$roboto-medium: "roboto-medium", sans-serif;
$roboto-black: "roboto-black", sans-serif;
$roboto-mono: "roboto-mono", sans-serif;

$accent: #ec1c1c;

$text-color: rgba(68, 91, 120, 1);
$text-h-color: rgba(3, 6, 11, 1);
$link-simple: rgba(56, 128, 255, 1);
$limk-buttn: rgba(255, 255, 255, 1);
$text-nav: rgba(45, 70, 101, 1);
$text-nav-sh: rgba(205, 223, 255, 1);
$text-badge: rgba(146, 160, 179, 1);
$h1: 8.8rem;
$h2: 6rem;
$h3: 3.2rem;
$h4: 2rem;
$p: 1.6rem;
$bage: 1.3rem;

$bg-color: rgba(255, 255, 255, 1);
$bg-link: rgba(27, 109, 255, 1);
$bg-card: rgba(246, 248, 252, 1);


