@use 'sass:math';
@use "sass:color";
@import "vars";
@import "fonts";
@import "libs";
@import "rest";
:root {
	font-size: 10px; // 1rem = 10px;
}
body {
	font-family: $default-font;
	color: $text-color;
	background-color: $bg-color;
	line-height: 1.5;
}
img, picture {
	max-width: 100%;
	display: block;
}
input,button,textarea,select {
	font: inherit;
}
h1 {
	font-size: $h1;
}
h2 {
	font-size: $h2;
}
h3 {
	font-size: $h3;
}
h4 {
	font-size: $h4;
}
p {
	font-size: $p;
	line-height: 26px;
	letter-spacing: 0 16px;
}
a {
	font-family: $roboto-bold;
	font-size: $bage;
	color: $link-simple;
	border: none;
	text-decoration: none;
	outline: none;
	transition: color 400ms linear;
	&:hover, &:focus {
		color: darken($link-simple, 15%);
	}
	&:visited {
		color: darken($link-simple, 35%);
	}
	&:focus-visible {
		border: none;
		outline: none;
	}
}
h1,h2,h3,h4 {
	color: $text-h-color;
}
.logo {
	width: 8.5rem;
	height: 2.7rem;
}
.bage {
	font-family: $roboto-mono;
	color: $text-badge;
	font-size: $bage;
}
.uppercase {
	text-transform: uppercase;
}
.container {
	padding-inline: 16em;
	margin-inline: auto;
	max-width: 112rem;
	border: none;
}
.flex {
	display: flex;
}
.icon {
	display: block;
	width: 100%;
}
.card {
	width: calc(33% - 1rem);
	height: 33rem;
	background-color: $bg-card;
	border-radius: 16px;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	flex-grow: 0;
	flex-shrink: 1;
	padding-left: 32px;
	margin-right: 30px;
	> .icon {
		padding-top: 32px;
	}
	> p {
		max-width: 280px;
		padding-bottom: 36px;
	}
}
.link {
	position: relative;
	&::after {
		//content: '&#x2192';
		content: '\f178';
		font-family: $fontawesome;
		font-size: $bage;
		margin-left: 0.3rem;
	}
}
.primary {
	background-color: $bg-link;
	color: $limk-buttn !important;
	padding: 0.2rem 1.5rem 0.3rem 2rem;
	border-radius: 10rem;
	transition: background-color 400ms linear;
	&:hover, &:focus {
		background-color: darken($bg-link, 15%);
	}
	&:visited {
		color: darken($limk-buttn, 35%);
	}
	&:focus-visible {
		border: none;
		outline: none;
	}
}
header {
	justify-content: space-between;
	align-items: center;
	> nav {
		line-height: 7.2rem;
	}
}
.navigation {
	list-style-type: none;
	padding: 0;
	margin: 0;
	.disable-status {
		> a {
			color: $text-nav-sh;
			font-size: 0.9rem;
		}
	}
	.r-form {
		margin-right: 1.6rem;
		> a {
			font-size: $bage + 0.1;
		}
	}
	> li {
		margin-right: 3rem;
		> a {
			font-family: $roboto-medium;
			color: $text-nav;
			font-size: $p;
		}
	}
	.r-form + .r-form {
		margin-right: 0;
	}
}
@import "media"; // Always at the end
